---
layout: default
author_profile: true
---

{% assign latest_post = site.posts.first %}

{% if latest_post.header.overlay_color or latest_post.header.overlay_image or latest_post.header.image %}
  {% assign page_header = latest_post.header %}
  {% assign page_title = latest_post.title %}
  {% assign page_excerpt = latest_post.excerpt %}
  {% assign page_url = latest_post.url %}
  
  {% if page_header.overlay_color or page_header.overlay_image or page_header.image %}
    {% include page__hero.html %}
  {% elsif page_header.video.id and page_header.video.provider %}
    {% include page__hero_video.html %}
  {% endif %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
    <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

    {% if paginator %}
      {% assign posts = paginator.posts %}
    {% else %}
      {% assign posts = site.posts %}
    {% endif %}

    {% assign entries_layout = page.entries_layout | default: 'list' %}
    <div class="entries-{{ entries_layout }}">
      {% include documents-collection.html entries=posts type=entries_layout %}
    </div>

    {% include paginator.html %}
  </div>
</div>