---
---

@import "minima";

// Pagination styles for minima 2.5.1
.pager {
  margin: 2em 0;
  overflow: hidden;
  clear: both;
}

.pager a {
  display: block;
  padding: 10px 20px;
  border: 1px solid #e8e8e8;
  text-decoration: none;
  color: #2a7ae2;
}

.pager a:hover {
  border-color: #828282;
  text-decoration: none;
}

.pager .previous {
  float: left;
}

.pager .next {
  float: right;
}
