---
---

@import "minima";

// Pagination styles for minima 2.5.1
.pager {
  text-align: center !important;
  margin: 2em 0 !important;
}

.pager .pagination {
  display: table !important;
  margin: 0 auto !important;
}

.pager .pagination-item {
  display: table-cell !important;
  margin: 0 3px !important;
  min-width: 45px !important;
  min-height: 45px !important;
  text-align: center !important;
}

.pager .pagination-item a {
  display: block !important;
  padding: 10px 12px !important;
  border: 1px solid #e8e8e8 !important;
  text-decoration: none !important;
  text-align: center !important;
  box-sizing: border-box !important;
  color: #2a7ae2 !important;
}

.pager .pagination-item a:hover {
  border-color: #828282 !important;
}

.pager .pagination-item span.current-page {
  display: block !important;
  padding: 10px 12px !important;
  text-align: center !important;
  box-sizing: border-box !important;
  font-weight: bold !important;
  border: 1px solid transparent !important;
}

.pager .pagination-item.pager-edge-item {
  border: 1px solid transparent !important;
  color: transparent !important;
}
